{% extends 'blocks/base-modal.twig' %}
{% set modal_title = 'Faucets list' %}
{% set modal_id = 'faucets_list_modal' %}

{% block modalcontent %}
<div class="list-group">
    {% for faucet in faucets %}
    
    
    
    	<a href="#" onclick="processAction( '{{ path('postindex', {action: 'select'}) }}', {id: {{ faucet.id }}, url: '{{ path('showindex') }}'}  )" class="list-group-item"><span>{{ faucet.id }} / </span>{{ faucet.info }}</a>
	{% endfor %}
</div>
{% endblock %}