{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron"></div>

<div class="container dasboard-frotor">
{{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}

    <div class="row">
		<div class="col-sm-8">
			<div class="form-group">
        {{ form_label(form.url, null, {'label_attr':{'class':'col-sm-4 control-label'}} ) }}
				<div class="col-sm-8">
        {{ form_widget(form.url) }}
        		</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
    </div>

    <div class="row">
		<div class="col-sm-8">
			<div class="form-group">
        {{ form_label(form.info, null, {'label_attr':{'class':'col-sm-4 control-label'}} ) }}
				<div class="col-sm-8">
        {{ form_widget(form.info) }}
        		</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
    </div>

    <div class="row">
		<div class="col-sm-8">
			<div class="form-group">
        {{ form_label(form.priority, null, {'label_attr':{'class':'col-sm-4 control-label'}} ) }}
				<div class="col-sm-8">
        {{ form_widget(form.priority) }}
        		</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
    </div>
    
{{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}{% endblock %}